@import "../../assets/styling/variable";

button {
    border-radius: 14px;
    height: 48px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    &.primary{
        background: $primary-gradient;
        box-shadow: $shadow-primary;
        color: $white;
    }
    &.secondary{}
}