@import "../../assets/styling/variable";
.navmenu {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 24px;
    .item {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        .title {
            color: $text-tertiary;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.6px;
            padding: 0 0 6px 14px;
            margin: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 2px;
            li {
                padding: 11px 12px 11px 14px;
                border-radius: 14px;
                a {
                    color: $text-nav;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    svg {
                        path {

                        }
                    }
                    span {
                        &.new-pill {
                            border-radius: 99px;
                            background: $success-bg;
                            color: $success;
                            padding: 2px 8px;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }

                &:hover {
                    background: $white;
                }

                &.active {
                    box-shadow: $shadow-active-nav;
                    background: $white;
                    a {
                        color: $text-primary;
                        font-weight: 600;
                        svg {
                            path {
                                stroke: $primary;
                            }
                        }
                        &:hover {

                        }
                    }
                }
            }
        }
    }
}